{% extends 'base.html.twig' %}

{% block title %}Palace Canin | Connexion{% endblock %}


{% block css %}

    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">

{% endblock %}



{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}


        <button type="button" id="btn-click" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="display: none;">Large modal</button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Felicitations, vous êtes inscrit !<i class="far fa-smile-wink"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    {% endif %}

    <form class="py-5" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="display-4 text-center">Connectez-vous</h1>

        <div class="barre-doree"></div>

        <label for="inputEmail" class="form-group">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword" class="form-group">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
    </form>
{% endblock %}
