{% extends 'base.html.twig' %}

{% block title %}Palace Canin | Nos chambres{% endblock %}


{% block css %}

    <link rel="stylesheet" href="{{ asset('assets/css/category.css') }}">

{% endblock %}

{% block body %}


    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">{{ category.name }}</h1>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for room in category.rooms %}
                    <div class="col-md-4 mt-4">
                        <div class="card">
                            <img src="{{ asset('uploads/images/' ~ room.image ) }}" class="card-img-top" alt="{{ room.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{ path('default_category', {
                                    'category' : room.category.alias,
                                    'alias' : room.alias,
                                    'id' : room.id
                                }) }}"  class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}