{% extends 'base.html.twig' %}


{% block title %}Palace Canin | Accueil{% endblock %}



{% block body %}


<div class=" container concept-section1">

    <div class="row">
        <div class="col-md-6">
            <h4>Notre Concept</h4>

            <p class="text-muted">Streamlined hiring. GetLance’s sophisticated algorithms highlight projects you’re a great fit for.
                Top Rated and Rising Talent programs. Enjoy higher visibility with the added status of prestigious programs.
                Do substantial work with top clients. GetLance pricing encourages freelancers to use GetLance for repeat relationships with their clients.</p>
        </div>
        <div class="col-md-6 how-img">
            <img class="img-fluid logo" src="{{ asset('assets/image/chien-chambre.jpg') }}" width="300" height="400" alt="">
        </div>
    </div>


</div>



<section class="services-area pt-100 pb-70" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title">
                    <h4>NOS SERVICES</h4>

                    <div class="barre-noire"></div>

                    <p>UN HÔTEL DE LUXE 5 ÉTOILES CONÇU SUR MESURE POUR RÉPONDRE AUX BESOINS UNIQUES DE VOTRE ANIMAL.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid logo" src="{{ asset('assets/image/complexe.jpg') }}" width="300" height="400" alt="">
                    <h4>Complexe</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi. </p>
                    <button>En savoir plus</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid logo" src="{{ asset('assets/image/bienetre.jpg') }}" width="300" height="400" alt="">
                    <h4>Bien-être</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi. </p>
                    <button>En savoir plus</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid logo" src="{{ asset('assets/image/toilettage.jpg') }}" width="300" height="400" alt="">
                    <h4>Toilettage</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi. </p>
                    <button>En savoir plus</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid logo" src="{{ asset('assets/image/dressage.jpg') }}" width="300" height="400" alt="">
                    <h4>Dressage</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi. </p>
                    <button>En savoir plus</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid logo" src="{{ asset('assets/image/transport.jpg') }}" width="300" height="400" alt="">
                    <h4>Transport animalier</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi. </p>
                    <button>En savoir plus</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid logo" src="{{ asset('assets/image/boutique.jpg') }}" width="300" height="400" alt="">
                    <h4>Boutique</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi. </p>
                    <button>En savoir plus</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- VIDEOS -->
<div class="container">
    <section class="content-section video-section">
        <p>L'ESSENTIEL</p>

        <div class="barre-noire"></div>


        <iframe src="https://www.youtube.com/embed/0Skj24mxHnM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </section>
</div>

<!-- INSTAGRAM -->
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" >Le Palace Canin sur Instagram</h1>
    <div class="barre-noire"></div>

    <span class="font-weight-light text-center text-lg-left mt-4 mb-0">#LePalaceCanin</span>


    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid logo" src="{{ asset('assets/image/chien1.jpg') }}" width="300" height="400" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid logo" src="{{ asset('assets/image/chien2.jpg') }}" width="300" height="400" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid logo" src="{{ asset('assets/image/chien3.jpg') }}" width="300" height="400" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid logo" src="{{ asset('assets/image/chien4.jpg') }}" width="300" height="400" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid logo" src="{{ asset('assets/image/chien8.jpg') }}" width="300" height="400" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid logo" src="{{ asset('assets/image/chien6.jpg') }}" width="300" height="400" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid logo" src="{{ asset('assets/image/chien9.jpg') }}" width="300" height="400" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid logo" src="{{ asset('assets/image/chien10.jpg') }}" width="300" height="400" alt="">
            </a>
        </div>


    </div>


{% endblock %}
