{% extends 'base.html.twig' %}


{% block title %}Palace Canin | Accueil{% endblock %}



{% block body %}


<div class=" container concept-section1">

    <div class="row">
        <div class="col-md-6">
            <h4>Notre Concept</h4>

            <p class="text-muted">Un palace canin à Vincennes ? Ne vous faîtes plus de soucis pour partir en vacances
                sans votre chien… Voici un véritable hôtel de luxe pour chiens : espace de jeux, piscine, jacuzzi, salon
                de massage et de toilettage, suite de luxe, restaurant à la carte, salle de télé, tapis de course…

                Toutou aura sa chambre de 9m2 pour lui… Et surtout le Bois de Vincennes n’est pas loin pour ces
                nombreuses balades quotidiennes incluses…

                Une bagatelle ? La nuitée est à partir de 40 euros par jour. La taille de votre Maurice pourra également
                être prise en compte et vous pourrez ajouter des options.
            </p>
        </div>

        <div class="col-md-6 concept-img">
            <img class="img-fluid logo" src="{{ asset('assets/image/chien-chambre.jpg') }}" width="300" height="400" alt="">

    </div>


</div>


<section class="services-area pt-100 pb-70" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center">
                <div class="section-title">
                    <h4>NOS SERVICES</h4>

                    <div class="barre-insta"></div>

                    <p>UN HÔTEL DE LUXE 5 ÉTOILES CONÇU SUR MESURE POUR RÉPONDRE AUX BESOINS UNIQUES DE VOTRE
                        ANIMAL.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid image-services" src="{{ asset('assets/image/service1.jpg') }}" alt="">
                    <h4>Complexe</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam
                        perferendis repudiandae sequi. </p>
                    <a href="{{ path('default_complexe') }}"><button>En savoir plus</button></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid image-services" src="{{ asset('assets/image/service2.jpg') }}" alt="">
                    <h4>Bien-être</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam
                        perferendis repudiandae sequi. </p>
                    <a href="{{ path('default_bien-etre') }}"><button>En savoir plus</button></a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid image-services" src="{{ asset('assets/image/service3.jpg') }}" alt="">
                    <h4>Toilettage</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam
                        perferendis repudiandae sequi. </p>
                    <a href="{{ path('default_toilettage') }}"><button>En savoir plus</button></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid image-services" src="{{ asset('assets/image/service4.jpg') }}" alt="">
                    <h4>Dressage</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam
                        perferendis repudiandae sequi. </p>
                    <a href="{{ path('default_dressage') }}"><button>En savoir plus</button></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid image-services" src="{{ asset('assets/image/service5.jpg') }}" alt="">
                    <h4>Transport animalier</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam
                        perferendis repudiandae sequi. </p>
                    <a href="{{ path('default_transport-animalier') }}"><button>En savoir plus</button></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <img class="img-fluid image-services" src="{{ asset('assets/image/service6.jpg') }}" alt="">
                    <h4>Boutique</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam
                        perferendis repudiandae sequi. </p>
                    <a href="{{ path('default_boutique') }}"><button>En savoir plus</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- VIDEOS -->
<div class="container">
    <section class="content-section video-section">
        <p>L'ESSENTIEL</p>

        <div class="barre-insta"></div>


        <iframe class="video" src="https://www.youtube.com/embed/0Skj24mxHnM" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>


    </section>
</div>


<!-- DEBUT RECTANGLE ILS NOUS FONT CONFIANCE -->
<div class="rectangle">


    <!-- DEBUT ROW POUR ILS NOUS FONT CONFIANCE ET LOGO PAW -->

    <div class="row">

        <div class="col col-md-8 text-center confiances">
            <span class="confiance">Ils nous font confiance</span>

        </div>

        <div class="col col-md-4">

            <img class="logo-index" src="{{ asset('assets/image/logo-index.png') }}">

        </div>


    </div>

    <!-- FIN ROW POUR ILS NOUS FONT CONFIANCE ET LOGO PAW -->


    <!-- DEBUT ROW POUR IMAGE ENREPRISE -->

    <div class="row justify-content-center parent-image-entreprise">

        <div class="col-md-4 text-center">

            <img class="image-entreprise1" src="{{ asset('assets/image/leading.png') }}">

        </div>

        <div class="col-md-4 text-center">

            <img class="image-entreprise2" src="{{ asset('assets/image/forbes.png') }}">

        </div>

        <div class="col-md-4 text-center">

            <img class="image-entreprise" src="{{ asset('assets/image/tolgate.png') }}">

        </div>


    </div>

    <!-- FIN ROW POUR IMAGE ENREPRISE -->


</div>
<!-- FIN RECTANGLE ILS NOUS FONT CONFIANCE -->


<!-- INSTAGRAM -->
<div class="container">


    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" >Le Palace Canin sur Instagram</h1>
    <div class="barre-insta"></div>

    <div class="barre-insta"></div>


    <p class="hashtag">#LePapalaceCanin</p>


    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid image-services" src="{{ asset('assets/image/chien1.jpg') }}" width="300" height="400"
                     alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid image-services" src="{{ asset('assets/image/chien2.jpg') }}" width="300" height="400"
                     alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid image-services" src="{{ asset('assets/image/chien3.jpg') }}" width="300" height="400"
                     alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid image-services" src="{{ asset('assets/image/chien4.jpg') }}" width="300" height="400"
                     alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid image-services" src="{{ asset('assets/image/chien8.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid image-services" src="{{ asset('assets/image/chien6.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid image-services" src="{{ asset('assets/image/chien9.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid image-services" src="{{ asset('assets/image/chien10.jpg') }}" alt="">
            </a>
        </div>


    </div>
</div>

    {% endblock %}
