<!-- DEBUT HEADER -->

<header>

    <!-- Image fond Hotel qui prend tout LE HEADER -->
    <div class="image-index">

        <!-- DEBUT NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand titre" href="{{ path('index') }}"><img class="img-fluid logo"
                                                                              src="{{ asset('assets/image/logo-palace.png') }}"
                                                                              alt="logo">PALACE CANIN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-nav me-auto">
                        <a class="nav-link chambres" href="{{ path('default_room') }}">Chambres</a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle services" href="#" id="navbarDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ path('default_complexe') }}">Complexe</a></li>
                                <li><a class="dropdown-item" href="{{ path('default_bien-etre') }}">Bien-être</a></li>
                                <li><a class="dropdown-item" href="{{ path('default_toilettage') }}">Toilettage</a></li>
                                <li><a class="dropdown-item" href="{{ path('default_dressage') }}">Dressage</a></li>
                                <li><a class="dropdown-item" href="{{ path('default_transport-animalier') }}">Transport
                                        Animalier</a></li>
                                <li><a class="dropdown-item" href="{{ path('default_boutique') }}">Boutique</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="navbar-nav ms-auto">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        <a class="nav-link" href="#">
                            Bonjour {{ app.user.firstname }} {{ app.user.lastname }}
                        </a>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="nav-link button ajouter" href="{{ path('booking_create') }}">Ajouter une catégorie
                                de chambre</a>
                        {% endif %}

                        <a class="nav-link button deconnexion" href="{{ path('app_logout') }}">Déconnexion</a>
                        {% else %}
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-3">
                                <a class="nav-link button register" href="{{ path('user_register') }}">Inscription</a>
                            </div>
                            <div class="col-md-3">
                                <a class="nav-link button login" href="{{ path('app_login') }}">Connexion</a>
                            </div>
                            {% endif %}
                            <div class="col-md-3">
                                <a class="nav-link button contact" href="{{ path('user_contact') }}">Contact</a>
                            </div>
                            <div class="col-md-1">
                                <a href="{{ path('index') }}"><img class="img-fluid drapeau-français"
                                                                   src="{{ asset('assets/image/drapeau-france.jpg') }}"
                                                                   alt="français"></a>
                            </div>
                            <div class="col-md-1">
                                <a href="{{ path('index') }}"><img class="img-fluid drapeau-anglais"
                                                                   src="{{ asset('assets/image/drapeau-usa-angleterre.jpg') }}"
                                                                   alt="anglais"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- FIN NAVBAR -->


        <!-- DEBUT CONTENU HEADER -->
        <div class="parent1-texte">

            <div class="parent-texte d-flex flex-column">

                <div class="row">

                    <div class="col-sm-12 text-center">

                        <span class="phrase-accroche">Bienvenue au Palace Canin</span>

                    </div>

                </div>

                <div class="row mt-5">

                    <div class="col-md-12 text-center">

                        <span class="petite-phrase-accroche">Là où votre chien sera Roi</span>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12 text-center">

                        <a href="{{ path('booking_reservation') }}" class="bouton-reservation">
                            <button class="reservation">Reservation</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- FIN CONTENU HEADER -->
</header>


<!-- FIN HEADER -->